@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --white: rgba(255, 255, 255, 0.808);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #060e18;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

form {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(-65deg, #603aba, #742d60, #3a5bb6, #703ea8);
    background-size: 400% 400%;
    animation: gradient 9s ease alternate infinite;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
    width: 75%;
    border-radius: 12px;
    position: absolute;

}

.pass__check {
    display: flex;
    justify-content: space-between;
}

#form__content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;

    align-self: center;
    width: 85%;

}

#title {
    align-self: center;
    width: 85%;
    font-size: 27px;
    font-weight: 700;

}

label {
    margin-left: 5px;
}

form input {
    padding: 19px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: linear-gradient(308.79deg, rgba(103, 202, 187, 0.082) 3.74%, rgba(44, 19, 44, 0.288) 78.93%, rgba(34, 31, 175, 0.397) 98.96%);
    border: none;
    border-bottom: 2px solid rgb(59, 18, 98);
    color: white;
    border-radius: 12px;
    outline: none;
}

form span {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: rgba(232, 220, 220, 0.686);
}


#passCheck {
    margin: 0 20px 0 0;
}

button {
    width: 100px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
        box-shadow: 0px 0px 103px 25px rgba(56, 131, 230, 0.6);
    }

    50% {
        background-position: 100% 50%;
        box-shadow: 0px 0px 103px 25px rgba(140, 47, 198, 0.6);
    }

    65% {

        box-shadow: 0px 0px 103px 25px rgba(124, 52, 169, 0.6);

    }

    70% {
        box-shadow: 0px 0px 103px 25px rgba(28, 110, 218, 0.6);
    }

    100% {
        background-position: 0% 50%;
        box-shadow: 0px 0px 103px 25px rgba(28, 110, 218, 0.6);
    }
}

#checkbox {

    margin: 0 10px 0px 10px;
    accent-color: #c0df5065;

}

input[type="checkbox"] {
    appearance: none;
    width: 30px;
    background-color: transparent;
    border: none;

}

input[type="checkbox"]:checked {
    background-color: #d5ff2d86;
}

.bubble {
    position: absolute;
    display: flex;
    align-items: center;


}

.bubble span {
    width: 30px;
    height: 30px;
    background-color: #ff00ff;
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ff00ff44,
        0 0 50px #ff00ff,
        0 0 100px #ff00ff;
    animation: bubleTime calc(100s/var(--i)) linear infinite;
}

.bubble span:nth-child(even) {
    background-color: #2d5eff;
    box-shadow: 0 0 0 10px #2d5eff44,
        0 0 50px #2d5eff,
        0 0 100px #2d5eff;

}

@keyframes bubleTime {
    0% {
        transform: translateY(100vh) scale(0)
    }

    100% {
        transform: translateY(-70vh) scale(1)
    }

}

#passCheck {

    color: rgba(254, 18, 18, 0.75);
}

#cat {
    border-radius: 20px;
    margin: 20px 0 40px 0;
    align-self: center;
    object-fit: center;
    width: 85%;
    height: 500px;
    display: none;
}

form button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 50%;
    margin: 30px 0 20px 0;
    align-self: center;
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(308.79deg, rgba(103, 202, 187, 0.082) 3.74%, rgba(44, 19, 44, 0.288) 78.93%, rgba(34, 31, 175, 0.397) 98.96%);
}

form button:hover {
    background: #5db3bd2c;
}

form button:active {
    background: #1e25275e;
}